
<table id="stats" cellpadding="0" cellspacing="1">
<tr style="background-color:#fff !important;">
    <td class="sdesc bold" style="border:0; padding-top:0; padding-bottom:0;">Employer:</td>
    <td class="svalue bold" style="border:0; padding-top:0; padding-bottom:0;" colspan="2"><!--EMPLOYER--> <!--CURRENT--></td>
</tr>
<tr style="border:0; background-color:#fff !important;">
    <td class="sdesc bold" style="border:0; padding-top:0; padding-bottom:0;">Date Joined:</td>
    <td class="svalue bold" style="border:0; padding-top:0; padding-bottom:0;" colspan="2"><!--DATE_JOINED--> <!--DATE_SINCE--></td>
</tr>

<tr style="background-color:#fff !important;"><td colspan="3" style="border:0;"><div class="clear" style="height:14px;"></div></td></tr>
<tr>
    <td>Today<span class="light-grey"><!--CURRENT_DATE--></span>:</td>
    <td><!--TODAY--></div>
    <td class="sincome">[<!--INCOME_TODAY-->]</td>
</tr>
<tr>
    <td>Next working day:</td>
    <td><!--NEXT_WORKING_DAY--></td>
    <td class="sincome">[<!--INCOME_NEXT_WORKING_DAY-->]</td>
</tr>
<tr>
    <td>Last working day:</td>
    <td><!--LAST_WORKING_DAY--></td>
    <td class="sincome">[<!--INCOME_LAST_WORKING_DAY-->]</td>
</tr>
<tr>
    <td>Worked this month:</td>
    <td><!--DAYS_HOURS_WORKED--></td>
    <td class="sincome">[<!--INCOME_DAYS_HOURS_WORKED-->]</td>
</tr>
<tr>
    <td>Scheduled this month:</td>
    <td><!--DAYS_HOURS_SCHEDULED--></td>
    <td class="sincome">[<!--INCOME_DAYS_HOURS_SCHEDULED-->]</td>
</tr>
<tr>
    <td>Worked last month:</td>
    <td><!--DAYS_HOURS_WORKED_LAST_MONTH--></td>
    <td class="sincome">[<!--INCOME_DAYS_HOURS_WORKED_LAST_MONTH-->]</td>
</tr>
<tr>
    <td>Worked this year:</td>
    <td><!--DAYS_HOURS_WORKED_CURRENT_YEAR--></td>
    <td class="sincome">[<!--INCOME_CURRENT_YEAR-->]</td>
</tr>

<tr style="background-color:#fff !important;"><td colspan="3" style="border:0;"><div class="clear" style="height:18px;"></div></td></tr>
<tr>
    <td class="bold">Latest Payslip:</td>
    <td colspan="2"><!--LATEST_PAYSLIP--></td>
</tr>
<tr>
    <td class="bold">Total salary received:</td>
    <td colspan="2"><!--PAYSLIP_TOTAL--></td>
</tr>

<tr style="background-color:#fff !important;"><td colspan="3" style="border:0;"><div class="clear" style="height:18px;"></div></td></tr>
<tr>
    <td>Today's pay:</td>
    <td colspan="2"><!--INCOME_TODAY--></td>
</tr>
<tr>
    <td>Current month pay:</td>
    <td colspan="2"><!--INCOME_DAYS_HOURS_WORKED--> (<!--INCOME_DAYS_HOURS_SCHEDULED--> for full month)</td>
</tr>
<tr>
    <td>Last month pay:</td>
    <td colspan="2"><!--INCOME_DAYS_HOURS_WORKED_LAST_MONTH--></td>
</tr>
<tr>
    <td>Current year pay:</td>
    <td colspan="2"><!--INCOME_CURRENT_YEAR--></td>
</tr>
<tr>
    <td>Last year pay:</td>
    <td colspan="2"><!--INCOME_LAST_YEAR--></td>
</tr>
<tr>
    <td>Total pay (to date):</td>
    <td colspan="2"><!--INCOME_TOTAL--></td>
</tr>
<tr>
    <td>Total directories done:</td>
    <td colspan="2"><!--TOTAL_DIRECTORIES--></td>
</tr>
<tr>
    <td>Salary:</td>
    <td colspan="2"><!--SALARY--></td>
</tr>

<tr style="background-color:#fff !important;"><td colspan="3" style="border:0;"><div class="clear" style="height:20px;"></div></td></tr>
<tr style="background-color:#fff !important;">
    <td class="bold" style="border:0; padding-top:0; padding-bottom:0;"><!--APP_NAME--> last updated:</td>
    <td colspan="2" style="border:0; padding-top:0; padding-bottom:0;"><!--DATA_LAST_UPDATED--></td>
</tr>
</table>
