<form method="post" action="!path!/settings" autocomplete="off">
    <div class="fleft">App name:</div>
    <div class="fright"><input type="text" name="app_name" value="" /></div>
    <div class="fclear"></div>
    
    <div class="fleft">Employee name:</div>
    <div class="fright"><input type="text" name="employee_name" value="" /></div>
    <div class="fclear"></div>
    
    <div class="fleft">Current Employer:</div>
    <div class="fright">
        <select name="current_employer">
            <!--EMPLOYERS_LIST-->
        </select>
    </div>
    <div class="fclear"></div>
    
    <div class="fleft">Current Salary (per/hour):</div>
    <div class="fright"><input type="text" name="current_salary" value="" /></div>
    <div class="fclear"></div>
    
    <div class="fleft">Current Venue:</div>
    <div class="fright"><input type="text" name="current_venue" value="" /></div>
    <div class="fclear"></div>
    
    <div class="fleft">Currency:</div>
    <div class="fright"><input type="text" name="currency" value="" /></div>
    <div class="fclear"></div>
    
    <div class="fleft">Start-up page:</div>
    <div class="fright">
        <select name="startup_page">
            <option value="">Default</option>
            <option value="stats">Stats</option>
            <option value="rota">My Rota</option>
            <option value="manage_rota">Add Rota</option>
            <option value="settings">Settings</option>
        </select>
    </div>
    <div class="fclear"></div>
    
    <div class="fleft"></div>
    <div class="fright"><input type="submit" value="UPDATE" class="button" style="margin-top:10px;" /></div>
    <div class="fclear"></div>
</form>