<!DOCTYPE html>
<html>
<head>
    <meta charset="iso-8859-1" />
    <title><!--[app_name]--></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="!path!/includes/style.css" />
    <link rel="stylesheet" type="text/css" href="!path!/includes/jquery-ui.css" />
    
    <!--ADDITIONAL_HEAD-->
    
    <script type="text/javascript" src="!path!/includes/jquery.js"></script>
    <!--<script type="text/javascript" src="!path!/includes/functions.js"></script>-->
</head>
<body>
    <h1><a href="!path!"><!--[app_name]--></a></h1>
    <div id="menu-container">
    <ul id="menubar">
        <li><a href="!path!/stats">Stats</a></li>
        <li><a href="!path!/rota">My Rota</a></li>
        <li><a href="!path!/manage_rota">Add Rota</a></li>
        <li><a href="!path!/payslips">Payslips</a></li>
        <li><a href="!path!/settings">Settings</a></li>
        <div class="clear" style="height:0;"></div>
    </ul>
    </div>
    
    <div id="info_msg"></div>
    <div id="error_msg"></div>
    
    <!--CONTENT-->

    <div class="clear">&nbsp;</div>
</body>
</html>
